$fa-font-path: '../assets/fonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");


body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #202020;
    color: white;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.cookieShit {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    overflow: visible;
    z-index: 3;
    width: 100%;
    height: 90%;
    padding: 4em;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);

    .cookieShit__content {
        flex-direction: row;
        display: flex;
        padding: 2em;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        border-radius: 25px;
        box-shadow: 0 3px 50px 4px #161616af;

        p {
            display: contents;
            font-family: 'Open Sans', sans-serif;
        }
        button {
            margin: 1em;
            background-color: #202020;
            border: 1.2px;
            border-radius: 8px;
            border-style: solid;
            border-color: rgba(255,255,255,0.3);
            background-color: transparent;
            padding: 0.5em 2em 0.5em 2em;
            color: white;
            font-family: 'Open Sans', sans-serif;
            animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
            &:hover {
                background-color: rgba(255,255,255,0.2);
                border-color: rgba(255, 255, 255, 0.2);
                box-shadow: 0 3px 8px 4px #161616af;
            }
        }
        a {
            border: unset;
            background-color: transparent;
            width: fit-content;
            height: fit-content;
            color: white;
            margin-left: 0.5em !important;
            margin-right: 8em !important;
            &:link {
                text-decoration: underline;
                &:visited {
                    text-decoration: underline;
                }
            }
            margin: unset;
            &:hover {
                background-color: unset;
                border-color: unset;
                color: #bbbbbbaf;
            }
        }
    }

}


.content {
    color: white;
    width: 50vw;
}

.content {
    color: white;
    width: 50vw;
}

.imprl {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    border: unset;
    color: #ffffff30;
    font-size: smaller;
    &:hover {
        background-color: unset;
        border-color: unset;
        box-shadow: unset;
    }
}

.sub-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100%;
}

@media (orientation: landscape) {
    .sub-wrapper {
        flex-direction: row;
    }

}

@media (orientation: portrait) {
    .sub-wrapper {
        flex-direction: column;
    }
}


.gradient {
    display: block;
    position: fixed;
    top: 0;
    background: radial-gradient(#292929cc, #202020ed), url(../assets/noise.svg);
    width: 100%;
    height: 100%;
    z-index: 0;
}

a {
    border: 1.2px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(255,255,255,0.3);
    background-color: transparent;
    width: 250px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    white-space: pre-line;
    text-align: center;
    &:link {
        text-decoration: none;
        &:visited {
            text-decoration: none;
        }
    }
    margin: 24px;
    transition-duration: 600ms;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    &:hover {
        background-color: rgba(255,255,255,0.2);
        border-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 3px 8px 4px #161616af;
    }
    i {
        padding: 6px;
    }
}
